@using MyRecipes.Common
@using MyRecipes.Web.ViewModels.Home
@model IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>We have:</p>
    <ul>
        <li>Recipes: @Model.RecipesCount</li>
        <li>Recipes: @Model.CategoriesCount</li>
        <li>Recipes: @Model.ImagesCount</li>
        <li>Recipes: @Model.IngredientsCount</li>
    </ul>
</div>
