@model IEnumerable<ProductDto>

<h1>@ViewData["Title"]</h1>


<form asp-action="Add" asp-controller="Product" method="get">
    <button class="btn-primary btn-success">Add</button>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Buy</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>
                    <form asp-action="Buy" asp-controller="Product" method="get">
                        <input name="id" type="hidden" value="@item.Id" />
                        <button class="btn-primary btn-success">Buy</button>
                    </form>
                </td>
                <td>
                    <form asp-action="Edit" asp-controller="Product" method="get">
                        <input name="id" type="hidden" value="@item.Id" />
                        <button class="btn-primary btn-warning">Edit</button>
                    </form>
                </td>
                <td>
                    <form asp-action="Delete" asp-controller="Product" method="post">
                        <input name="id" type="hidden" value="@item.Id" />
                        <button class="btn-primary btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            
        }
    </tbody>
</table>