@using MyRecipes.Web.ViewModels.Recipes
@model RecipesListViewModel

@{
    this.ViewBag.Title = "All Recipes, Page " + Model.PageNumber;
}

@if (this.TempData.ContainsKey("Message")) 
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<h1>@this.ViewBag.Title</h1>
<hr />
<div class="row">
    @foreach (var recipe in this.Model.Recipes)
    {
        <div class="col-lg-3 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@recipe.ImageUrl" alt="Card image cap" width="36" height="36">
                <div class="card-body">
                    <h5 class="card-title">@recipe.Name</h5>
                    <p class="card-text">@recipe.CategoryName</p>
                    <a asp-action="ById" asp-route-id="@recipe.Id">See Recipe</a>
                </div>
            </div>
        </div>
        

        @*<div class="media col-md-4">
    <img src="@recipe.ImageUrl" width="100" class="mr-3 img-responsive">
    <div class="media-body">
    <h5 class="mt-0"><a asp-action="ById" asp-route-id="@recipe.Id">@recipe.Name</a></h5>
    @recipe.CategoryName
    </div>
    </div>*@
    }
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />