@using MyRecipes.Web.ViewModels.Recipes
@model RecipesListViewModel

@{
    this.ViewBag.Title = "All Recipes, Page "+ Model.PageNumber;
}

<h1>@this.ViewBag.Title</h1>

<div class="row">
    @foreach (var recipe in this.Model.Recipes)
    {
    <div class="media col-md-3">
            <img src="@recipe.ImageUrl" width="100" class="mr-3 img-responsive">
        <div class="media-body">
            <h5 class="mt-0">@recipe.Name</h5>
            @recipe.CategoryName
        </div>
    </div>
}
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />