@using MyRecipes.Web.ViewModels.Recipes
@model SingleRecipeViewModel

@{
    this.ViewBag.Title = Model.Name;
}

<div class="single-recipe-layout1">
    <div class="ctg-name">@Model.CategoryName</div>
    <h2 class="item-title">@ViewBag.Title</h2>
    <div class="row mb-4">
        <div class="col-xl-9 col-12">
            <ul class="entry-meta">
                <li class="single-meta">
                    <i class="far fa-calendar-alt"></i>
                    @Model.CreatedOn.ToShortDateString()
                </li>
                <li class="single-meta">
                    <i class="fas fa-user"></i> by
                    @if (string.IsNullOrWhiteSpace(Model.AddedByUserEmail))
                    {
                        <a href="@Model.OriginalUrl" target="_blank">1001recepti.com</a>
                    }
                    else
                    {
                        <span>@Model.AddedByUserEmail</span>
                    }
                </li>
                <li class="single-meta">
                    <ul class="item-rating">
                        <li class=@(Model.VotesAverageValue >= 1 ? "star-fill" : "star-empty") data-vote=1><i class="fas fa-star"></i></li>
                        <li class=@(Model.VotesAverageValue >= 2 ? "star-fill" : "star-empty") data-vote=2><i class="fas fa-star"></i></li>
                        <li class=@(Model.VotesAverageValue >= 3 ? "star-fill" : "star-empty") data-vote=3><i class="fas fa-star"></i></li>
                        <li class=@(Model.VotesAverageValue >= 4 ? "star-fill" : "star-empty") data-vote=4><i class="fas fa-star"></i></li>
                        <li class=@(Model.VotesAverageValue >= 5 ? "star-fill" : "star-empty") data-vote=5><i class="fas fa-star"></i></li>
                        <li><span id="averageVoteValue">@Model.VotesAverageValue.ToString("0.0")</span><span> / 5</span> </li>
                    </ul>
                </li>
                @if (this.User.IsInRole(MyRecipes.Common.GlobalConstants.AdministratorRoleName))
                {
                    <li class="single-meta">
                        <a asp-controller="Recipes" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
                    </li>
                    <li class="single-meta">
                        <form asp-controller="Recipes" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id" ></form>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="item-figure">
        <img class="img-fluid" src=@Model.ImageUrl alt="@Model.Name" />
    </div>
    <div class="item-feature">
        <ul>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="far fa-clock"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">PREP TIME</div>
                            <div class="feature-sub-title">@Model.PreparationTime.TotalMinutes</div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="fas fa-utensils"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">COOK TIME</div>
                            <div class="feature-sub-title">@Model.CookingTime.TotalMinutes</div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">SERVING</div>
                            <div class="feature-sub-title">
                                @Model.PortionCount
                                @if (Model.PortionCount == 1)
                                {
                                    <span>Person</span>
                                }
                                else
                                {
                                    <span>People</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="fa fa-list-ol"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">RECIPES IN CATEGORY</div>
                            <div class="feature-sub-title">@Model.CategoryRecipesCount</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="making-elements-wrap">
        <div class="row">
            <div class="col-md-6">
                <p class="item-description">
                    @Model.Instructions
                </p>
            </div>
            <div class="col-md-6">
                <div class="ingridients-wrap">
                    <h3 class="item-title"><i class="fas fa-list-ul"></i>Ingridients</h3>
                    @foreach (var ingredient in Model.Ingredients)
                    {
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox1" type="checkbox">
                            <label for="checkbox1">@ingredient.Quantity @ingredient.IngredientName</label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post" id="antiForgeryForm"></form>
@section Scripts{
    <script>
        $("li[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                var recipeId = @Model.Id;
                var antiForgeryTocken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { recipeId: recipeId, value: value };

                $.ajax({
                    type: "POST",
                    url: "/api/Vote",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryTocken
                    },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1));
                    },
                    contentType: 'application/json',
                });
            });
        });
    </script>
}

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Recipe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete "@Model.Name"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()" >Yes</button>
            </div>
        </div>
    </div>
</div>